<div class="banner">
  <img class="banner__image" src="http://watch-learn.com/themes/olympos/assets/images/bg-abstract.jpg" alt="{{ banner.title }}"/>
  <div class="banner__content">
    <h1 class="banner__title">
      {{ banner.title }}
    </h1>
    <p class="banner__text">
      {{ banner.text }}
    </p>
    <a class="banner__button" href="{{ banner.button.link }}">
      {{ banner.button.text }}
    </a>
  </div>
</div>
