<div class="banner bg--primary text--center text--white sp--lg">
  <div class="container container--sm">
    <div class="banner__inner">
      <h1 class="banner__title">{{ banner.title }}</h1>
      <h2 class="banner__subtitle">{{  banner.subtitle }}</h2>
      <p class="banner__text">{{ banner.text }}</p>
      <p class="banner__text">{{ banner.subtext }}</p>
      <a href="{{ banner.button.link }}" class="banner__btn btn">{{ banner.button.text }}</a>
    </div>
  </div>
</div>
